[toolchain]
package_manager = "yarn"
anchor_version = "0.31.0"

[features]
resolution = true
skip-lint = false

[programs.localnet]
dex = "2ShS3LqcJPc7MzGN95GEcyecRvKp6u932VTfkAUvZZzN"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./test-wallet.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
